name: Set version from tag

on:
  push:
    tags:
      - 'v*'

jobs:
  set-version:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: maven

      - name: Get version from tag
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Set version in pom.xml
        run: |
          mvn -B versions:set -DnewVersion=${{ steps.version.outputs.version }} -DgenerateBackupPoms=false
      - name: Commit version change in pom.xml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git commit -am "Set version to ${{ steps.version.outputs.version }}"
          git push origin HEAD:main
